.flash-row > td {
  animation: flashRowFade 4s ease-in-out;
  will-change: background-color;
}

@keyframes flashRowFade {
  0%   { background-color: #21cc4a; }       /* soft green */
  50%  { background-color: #80c493; }
  100% { background-color: inherit; }
}
