.table tr.urgent > td {
  background-color: #f8d7da !important; /* light red */
  color: #721c24 !important;
  font-weight: 500;
}

.table tr.warning > td {
  background-color: #fff3cd !important; /* light yellow */
  color: #856404 !important;
  font-weight: 500;
}

.table tr.standard > td {
  background-color: #d1ecf1 !important; /* light blue */
  color: #0c5460 !important;
  font-weight: 500;
}
